<div class="topheader">
    <header class="top-banner">
        <a href="" class="logo" style="margin-right: auto;">
            <img src="/images/template.jpg">
        </a>

        <nav class="navbuttons">
            <ul>
                <li><a href="/home" class="navbutton">Home</a></li>
                <li><a href="/edit" class="navbutton">Edit Song Preferences</a></li>
            </ul>
        </nav>

        <input type="text" placeholder="Search for songs or DJs" class="searchbar" id="search">

        <div class="usercluster">
            <img src="/images/template.jpg" id="userpfp">
            <nav class="userbuttons">
                <button class="userbutton">
                    <a href="/profile">Profile</a>
                </button>
                <button class="userbutton">
                    <a href="/settings">Settings</a>
                </button>
            </nav>
        </div>
    </header>
</div>