<!DOCTYPE html>
<html>

<head>
    <title>Song Preferences</title>
    <%- include('../partials/head'); %>
</head>

<body>
    <%- include('../partials/header'); %>

    <div class="preferences">
        <div class="upcomingsongs">
            <h2>Your Song Preferences:</h2>
            <div class="scrollcontainer">
                <img src="/images/template.jpg">
                <img src="/images/template.jpg">
                <img src="/images/template.jpg">
                <img src="/images/template.jpg">
                <img src="/images/template.jpg">
                <img src="/images/template.jpg">
                <img src="/images/template.jpg">
                <img src="/images/template.jpg">
                <img src="/images/template.jpg">
                <img src="/images/template.jpg">
                <img src="/images/template.jpg">
                <img src="/images/template.jpg">
                <img src="/images/template.jpg">
                <img src="/images/template.jpg">
                <img src="/images/template.jpg">
                <img src="/images/template.jpg">
                <img src="/images/template.jpg">
                <img src="/images/template.jpg">
                <img src="/images/template.jpg">
                <img src="/images/template.jpg">
                <img src="/images/template.jpg">
                <img src="/images/template.jpg">
                <img src="/images/template.jpg">
            </div>
        </div>
    </div>

    <%- include('../partials/footer'); %>
</body>

</html>