<!DOCTYPE html>
<html>

<head>
    <title>Profile</title>
    <%- include('../partials/head'); %>
</head>

<body>
    <%- include('../partials/header'); %>

    <div class="upcomingsongs">
        THIS IS THE USER PROFILE PAGE
    </div>

    <%- include('../partials/footer'); %>
</body>

</html>