<!DOCTYPE html>
<html>

<head>
    <title>Settings</title>
    <%- include('../partials/head'); %>
</head>

<body>
    <%- include('../partials/header'); %>

    <div class="upcomingsongs">
        THIS IS THE USER SETTINGS PAGE
    </div>

    <%- include('../partials/footer'); %>
</body>

</html>